In [2]:
import os
import pandas as pd
import regex as re

In [3]:
path = '/home/ilee0022/cl-gen/CPSD/output/20240801-130508_cp_cpsd_cifar10_anneal_mean_init_ad2/gen_samples'

dirs = os.listdir(path)

path_arr = []
counter = 0

for d in dirs:

    # if contain class_9
    if re.search('class_9', d):

        path_arr.append(d)
        counter += 1
new_df = pd.DataFrame.from_dict({'file_name': path_arr, 'label': [9]*counter, 'text':['truck']*counter, 'ucg': [0]*counter})
ori_df = pd.read_csv(path + '/metadata.csv')

In [4]:
new_df

                    file_name  label   text  ucg
0    class_9_replay_2516.jpeg      9  truck    0
1    class_9_replay_2372.jpeg      9  truck    0
2    class_9_replay_2471.jpeg      9  truck    0
3    class_9_replay_2888.jpeg      9  truck    0
4    class_9_replay_2534.jpeg      9  truck    0
..                        ...    ...    ...  ...
393  class_9_replay_2691.jpeg      9  truck    0
394  class_9_replay_2887.jpeg      9  truck    0
395  class_9_replay_2540.jpeg      9  truck    0
396  class_9_replay_2566.jpeg      9  truck    0
397  class_9_replay_2426.jpeg      9  truck    0

[398 rows x 4 columns]

In [5]:
df = pd.concat([ori_df, new_df], ignore_index=True)

In [6]:
df

                      file_name  label      text       ucg
0         class_0_replay_0.jpeg      0  airplane  6.498160
1         class_0_replay_3.jpeg      0  airplane  6.498160
2         class_0_replay_5.jpeg      0  airplane  6.498160
3         class_0_replay_3.jpeg      0  airplane  8.802857
4         class_0_replay_7.jpeg      0  airplane  8.802857
...                         ...    ...       ...       ...
54393  class_9_replay_2691.jpeg      9     truck  0.000000
54394  class_9_replay_2887.jpeg      9     truck  0.000000
54395  class_9_replay_2540.jpeg      9     truck  0.000000
54396  class_9_replay_2566.jpeg      9     truck  0.000000
54397  class_9_replay_2426.jpeg      9     truck  0.000000

[54398 rows x 4 columns]

In [ ]:
df.to_csv(path + '/metadata.csv', index=False)